![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

## Project Instructions:

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the **`data`** folder: **`airbnb_price.csv`**, **`airbnb_room_type.xlsx`**, **`airbnb_last_review.tsv`**.

- What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
- How many of the listings are private rooms? Save this into any variable.
- What is the average listing price? Round to the nearest two decimal places and save into a variable.
- Combine the new variables into one DataFrame called **`review_dates`** with four columns in the following order: **`first_reviewed`**, **`last_reviewed`**, **`nb_private_rooms`**, and **`avg_price`**. The DataFrame should only contain one row of values.

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the data folder: **`airbnb_price.csv`**, **`airbnb_room_type.xlsx`**, **`airbnb_last_review.tsv`**.

- What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
- How many of the listings are private rooms? Save this into any variable.
- What is the average listing price? Round to the nearest two decimal places and save into a variable.
- Combine the new variables into one DataFrame called **`review_dates`** with four columns in the following order: **`first_reviewed`**, **`last_reviewed`**, **`nb_private_rooms`**, and **`avg_price`**. The DataFrame should only contain one row of values.

In [36]:
# Import necessary packages
import pandas as pd
import numpy as np

# Loading the data using pandas methods to read files
airbnb_price = pd.read_csv('data/airbnb_price.csv')
airbnb_room_type = pd.read_excel('data/airbnb_room_type.xlsx')
airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv', sep = '\t')

# Preview data using .head() method
print(airbnb_price.head(), '\n')
print(airbnb_room_type.head(), '\n')
print(airbnb_last_review.head(), '\n')

# Merging the three DataFrames using pd.merge() function 
merge1 = airbnb_price.merge(airbnb_room_type, on = 'listing_id')
merge_airbnb_dfs = merge1.merge(airbnb_last_review, on = 'listing_id')
merge_airbnb_dfs.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [37]:
# Display information about merge_airbnb_dfs
merge_airbnb_dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

- ### What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [38]:
# convert the reviews column to a date format.
merge_airbnb_dfs['last_review'] = \
pd.to_datetime(merge_airbnb_dfs['last_review'], format = '%B %d %Y', origin = 'unix')


# Determining the earliest and most recent review dates.
earliest_review_date = merge_airbnb_dfs['last_review'].min()
recent_review_date = merge_airbnb_dfs['last_review'].max()

- ### How many of the listings are private rooms? Save this into any variable.

In [39]:
# Display all unique values in the room_type column.
merge_airbnb_dfs['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

### Observation(s):
The **`room_type`** column has variations in capitalization as shown in the output above. Hence, there's need to standardize the cases to be in all lower or upper case.

In [40]:
# Convert all values in room_type column to lower case using the .str constructor and the .lower() method.
merge_airbnb_dfs['room_type'] = merge_airbnb_dfs['room_type'].str.lower()
merge_airbnb_dfs['room_type'].unique()

array(['entire home/apt', 'private room', 'shared room'], dtype=object)

In [41]:
# Subset the dataframe to select room_type == 'private room' and use the shape attribute to obtain the count.
private_room_count = \
merge_airbnb_dfs[merge_airbnb_dfs['room_type'] == 'private room'].shape[0]
private_room_count

11356

- ### What is the average listing price? Round to the nearest two decimal places and save into a variable.

In [42]:
# Display the first five values of the price column
merge_airbnb_dfs['price'].head()

0    225 dollars
1     89 dollars
2    200 dollars
3     79 dollars
4    150 dollars
Name: price, dtype: object

### Observation(s):
The **`price`** column contains **'dollars'** in its values which makes it a string type variable. This column requires cleaning to enable us calculate the average price of **'listings'**

In [43]:
# Remove " dollars" from price using .str.replace on it.
merge_airbnb_dfs['price'] = merge_airbnb_dfs['price'].str.replace(" dollars", '')

# Convert the data type of price from object to float.
merge_airbnb_dfs['price'] = merge_airbnb_dfs['price'].astype(float)
print(merge_airbnb_dfs['price'].head())

0    225.0
1     89.0
2    200.0
3     79.0
4    150.0
Name: price, dtype: float64

In [44]:
# Calculate average listing price.
ave_listing_price = merge_airbnb_dfs['price'].mean().round(2)
ave_listing_price

141.78

- ### Combine the new variables into one DataFrame called **`review_dates`** with four columns in the following order: **`first_reviewed`**, **`last_reviewed`**, **`nb_private_rooms`**, and **`avg_price`**. The DataFrame should only contain one row of values.

In [45]:
# Create a dictionary of first_reviewed, last_reviewed, nb_private_rooms and avg_price with their respective values.
dict_combined = {'first_reviewed': [earliest_review_date],
                 'last_reviewed': [recent_review_date],
                 'nb_private_rooms': [private_room_count],
                 'avg_price': [ave_listing_price]}

# Pass a dictionary into the pd.DataFrame() constructor.
review_dates = pd.DataFrame(dict_combined, index=[0])
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

## Summary:
**The below task were performed in this project:**

- ### Loading the data.
- ### Merging the three DataFrames.
- ### Determining the earliest and most recent review dates.
- ### Finding how many listings are private rooms.
- ### Finding the average price of listings.
- ### Creating a DataFrame with the four solution values.